/* Main banner */

.main-banner {
    margin-top: 20px;
}

.main-banner__container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 50px;
    color: #FFFFFF;
    font-weight: 700;
    
    &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(89.64deg, rgba(255, 255, 255, 0.44) 20.38%, rgba(255, 255, 255, 0) 84.63%);
    }
}

.main-banner__sub-caption {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
}

.main-banner__caption {
    font-size: 48px;
    line-height: 110%;
    margin-bottom: 30px;
    max-width: 569px;
}

.main-banner__search__form {
    display: flex;
    align-items: center;
    position: relative;
    
    .main-button-color {
        border-radius: 0px 5px 5px 0px;
    }
}

.main-banner__search__decor-search {
    position: absolute;
    font-size: 18px;
    left: 18px;
    top: 50%;
    color: #C0C0C0;
    pointer-events: none;
    transform: translateY(-50%);
}

.main-banner__input {
    border-radius: 5px 0px 0px 5px;
    font-size: 14px;
    line-height: 17px;
    color: #3D3C38;
    max-width: 370px;
    width: 100%;
    height: 45px;
    border: none;
    padding: 0px 20px 0px 50px;
    background-color: #FFFFFF;
    
    &::placeholder {
        color: #C0C0C0;
    }
}

.main-banner__submit-button {
    .icon-search {
        display: none;
    }
}

@media screen and (max-width: 1210px) {
    .main-banner__container {
        padding: 50px 30px;
    }
    
    .main-banner__sub-caption {
        margin-bottom: 10px;
    }
    
    .main-banner__caption {
        font-size: 36px;
        max-width: 55%;
    }
}

@media screen and (max-width: 767px) {
    .main-banner {
        margin-top: -10px;
    }
    
    .main-banner__container {
        width: calc(100% + 36px);
        padding: 40px 16px;
        margin-left: -16px;
    }
    
    .main-banner__caption {
        max-width: 100%;
        font-size: 30px;
    }
    
    .main-banner__search__form {
        .icon-search {
            display: none;
        }
    }
    
    .main-banner__input {
        padding: 0px 20px;
        max-width: calc(100% - 48px);
    }
    
    .main-banner__submit-button {
        padding: 0px 15px;
        
        .icon-search {
            display: block;
            line-height: 45px;
            font-size: 18px;
        }
        
        .text {
            display: none;
        }
    }
}


/* //Main banner */